body{
  align-items: center;
  background-image: ;
  display:flex;
  align-items: center;
  justify-content: center;
  position:relative;
}
div{
  background-color: hsl(206 92% 94%);
  width:40%;
  height:70%;
  padding:5px;
  margin: auto ;
  margin-top: 50px;
  border-radius: 30px;
}
input{
  margin-left: 100px;
  margin: 10px;
  padding: 5px;
  width:100%;
  height:80%;
  align-items: center;
  border-radius: 10px;
}
button{
  padding: 7px;
  font-size: 13px;
  width:90%;
  margin-left: 25px;
  background-color: red;
  color:white;
  border:none;
  border-radius: 10px;
}
.board{
 margin:auto;
 margin-top: 20px;
 margin-bottom: 20px;
}
